*{
    margin: 0;
    padding: 0;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background:linear-gradient(to right,rgb(162, 0, 255),black);
}
.header-content{
    
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.header-content h1{
  color: aliceblue;
}
.header-content span{
  color: rgb(7, 7, 7);
  font-size: 40px;
}
.header-content p{
    color:aliceblue;
    margin-top: 10px;
    font-size: 20px;
}
.amount-card{
    background:linear-gradient(black,white);
    width: 33%;
    min-height: 137.49;
    padding: 15px;
    border-radius: 20px;
    transition-duration: 1s;
}
.amount-card h2{
    color: aliceblue;
    text-transform: capitalize;
    margin-left: 10%;

}
.amount-card p{
    margin-top: 7px;
    /* margin-left: 50%; */
    font-size: 20px;
    margin-left: 10%;
}
.amount-card:hover{
    background: linear-gradient(black,blue);
}

/* main content */
.main-content{
   width: 100%;
   height: 100px;
   /* background-color: aliceblue; */
   margin-top: 30px;
   display: flex;
   justify-content: center;
}
.main-container{
    width: 80%;
    /* background-color: aqua; */
    margin-top: 20px;
}
.showDetails{
    justify-self: center;
    margin-top: 20px;
    width: 70%;
    /* height: 40vh; */
    /* overflow-y: auto; */

    background-color: rgba(52, 50, 50, 0.656);
    display: flex;
    flex-direction: column;
    align-items:center;
    border-radius: 30px;
    /* gap: 20px; */
}
.amount-details-card{
    width: 80%;
    min-height: 80px;
    background:linear-gradient(to right,white,black);
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    justify-content:space-between;
    margin-bottom: 10px;
}
.Addscreen-container{
   min-width: 400px;
}
.Addscreen-sub-container-1{
    width: 100%;
    display: flex;
    /* background-color: aqua; */
    justify-content: flex-end;
    /* gap: 30px; */
}
.addScreen-top-2{
    padding: 10px;
    background-color: aliceblue;
    /* border-radius: 8px; */
    cursor: pointer;
}
.addScreen-top-1{
    padding: 10px;
    background-color: black;
    color: aliceblue;
    /* border-radius: 8px; */
    transform: translateY(-2px);
    box-shadow: 1px 2px 0px 1px white;
    cursor: pointer;
}
.add-btn{
    padding: 10px;
    min-width: 100px;
    background: black;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.add-btn:hover{
    box-shadow: 1px 1px 1px 1px whitesmoke;
}